{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
<h1>This is index.</h1>
<form method="POST" action="{{url_for('index')}}">
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="password" name="password" placeholder="password">
  <br>
  <input type="submit" name="submit" value="submit">
</form>

<h1>File Upload</h1>
<form method="POST" action="{{url_for('file_upload')}}" enctype="multipart/form-data">
  <input type="file" name="file" value="Upload File" accept=".xls, .xlsx, .txt" required>
  <br>
  <input type="submit" name="submit" value="submit">
</form>

<h1>Convert CSV</h1>
<form method="POST" action="{{url_for('convert_csv')}}" enctype="multipart/form-data">
  <input type="file" name="file" value="Upload File" accept=".xls, .xlsx" required>
  <br>
  <input type="submit" name="submit" value="submit">
</form>

<h1>Convert CSV TWO</h1>
<form method="POST" action="{{url_for('convert_csv_two')}}" enctype="multipart/form-data">
  <input type="file" name="file" value="Upload File" accept=".xls, .xlsx" required>
  <br>
  <input type="submit" name="submit" value="submit">
</form>

<h1>JavaScript JSON Request</h1>
<button id="postButton">Send Request</button>

<script>
  const postButton = document.getElementById('postButton');
  const jsonData = {name: 'Grish Rana', greeting: 'Hello'}
  postButton.addEventListener("click",event=>{
    fetch('{{url_for("handle_post")}}',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf=8'
      },
      body: JSON.stringify(jsonData)
    })
      .then(response=> response.json())
      .then(data=>console.log("Success:", data))
      .catch(error=>{
        console.error('Error: ', error)
      });
  });
</script>
{% endblock %}
